/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  top: 0;
  left: -20px;
  transform: translateY(-50%);
  animation: changesArrow 0.5s ease-in-out infinite alternate;
}

@keyframes changesArrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(4px);
  }
}

@keyframes scaleMove {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}

.contour {
  fill: var(--contour-fill);
  opacity: 1;
  transition: opacity 0.1s linear;
}

.core {
  fill: var(--contour-fill);
  opacity: 0;
  transition: opacity 0.3s linear 0.03s;
}

.main-body {
  fill: var(--contour-fill);
  opacity: 0;
  transition: opacity linear 0.3s;
}

.sparks {
  fill: var(--like-heart);
  opacity: 0;
}

.like-icon {
  cursor: pointer;
  fill: var(--accent-color);
}

.like-icon:hover .core {
  opacity: 1;
  transition: opacity 0.3s linear;
}

.like-icon:hover .main-body {
  opacity: 1;
  transition: opacity 0.3s linear 0.05s;
}

.like-icon:hover .contour {
  opacity: 1;
  transition: opacity 0.3s 0.35s;
}

.like-icon:active .core {
  opacity: 1;
  fill: var(--like-heart);
  transition: fill linear 0.3s;
}

.like-icon:active .main-body {
  opacity: 1;
  fill: var(--like-heart);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  /* error */
  animation: 0.3s ease-in 0.1s 1 alternate scaleMove;
}

.like-icon.is-liked .contour {
  fill: var(--like-heart);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--like-heart);
  transition: fill linear 0.3s;
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--like-heart);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .sparks {
  animation: 0.3s ease-in 0.3s 1 alternate sparksMove;
}

@keyframes sparksMove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}