/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  max-width: 1440px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  color: var(--accent-color);
  font-variation-settings: "wgth" var(--font-weight-text), "wdth" 0, "opsz" 0;
  background-color: var(--bgcolor);
  background-image: var(--background-image);
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-inline: clamp(0rem, -8.143rem + 34.742vw, 23.125rem);
}

.header {
  margin-block: 100px 100px;
  padding-block-start: 136px;
  padding-inline: 120px;
  max-width: 700px;
  border: 2px solid var(--border-color);
  background-color: var(--bgcolor);
}

.content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-text {
  display: flex;
  align-items: center;
  font-family: var(--accent-font-family), sans-serif;
  font-weight: var(--font-weight-text);
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  line-height: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  justify-content: center;
  margin-block-end: 20px;
}

.header-subtext {
  font-family: var(--accent-font-family), sans-serif;
  font-weight: var(--font-weight-text);
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  line-height: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
}

.theme-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.theme-menu__item:not(:last-child) {
  margin-block-end: 7px;
}

.theme-menu__list {
  margin-block-start: 25px;
  margin-block-end: 20px;
  line-height: 14px;
  font-size: 14px;
  font-weight: 400;
}

.theme-menu__button {
  position: relative;
  font-family: var(--accent-font-family), sans-serif;
  margin-left: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  transition: color var(--transition-duration) var(--transition-timing-function),
    opacity var(--transition-duration) var(--transition-timing-function);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 300ms, background-color 0.5s;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:hover::after {
  width: 0;
}

.freetrack {
  font-family: var(--main-font-family), sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: clamp(var(--min-width), 100%, var(--max-width));
  border: 2px solid var(--border-color);
  position: relative;
  background-color: var(--bgcolor);
}

.freetrack:not(:last-child) {
  margin-block-end: 50px;
}

.section-text {
  font-family: var(--main-font-family), sans-serif;
  font-weight: var(--font-weight-text);
  font-size: 18px;
  padding-inline: 10px;
  padding-block: 5px;
}

@supports (-webkit-text-stroke: 1px var(--bgcolor)) {
  .card-text {
    -webkit-text-stroke: 1px var(--bgcolor);
  }
}

.card-text {
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  top: 60px;
  right: 25px;
  z-index: 1;
  text-shadow: -1px -1px 0 var(--bgcolor), 1px -1px 0 var(--bgcolor),
    -1px 1px 0 var(--bgcolor), 1px 1px 0 var(--bgcolor);
  opacity: 0.5;
  color: var(--accent-color);
  mix-blend-mode: hard-light;
}

.card-image {
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  min-height: 375px;
}

.image {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.filter-contrast {
  filter: contrast(200%);
}

.filter-invert {
  filter: invert(0.7);
}

.filter-opacity {
  filter: opacity(0.2);
}

.filter-blur {
  filter: blur(0.3rem);
}

.filter-sepia {
  filter: sepia(100%) saturate(400%) hue-rotate(330deg);
}

.filter-hue-rotate {
  filter: hue-rotate(-150deg);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(777%);
}

.section-subtext {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font-family), sans-serif;
  gap: 27px;
  padding: 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.subtext {
  font-weight: var(--font-weight-subtext);
}

.button__block {
  display: flex;
  justify-content: right;
  margin-right: 25px;
  margin-bottom: 25px;
  gap: 7px;
}

.card__like-button {
  background-color: transparent;
  width: 130px;
}

.card__icon-button {
  position: relative;
  padding: 0;
  width: 39px;
  height: 38px;
  background-color: transparent;
  border: 2px solid transparent;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.like-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--border-color);
}

.button__text {
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
  color: var(--accent-color);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 127.5px;
  padding-block-end: 100px;
}

.button__save {
  box-sizing: border-box;
  padding: 15px 18px;
  gap: 8px;
  max-width: 335px;
  background-color: var(--bgcolor);
}

.floppy {
  width: 21px;
  height: 21px;
  color: var(--accent-color);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button {
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
  cursor: pointer;
  border: 2px solid var(--border-color);
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-hover);
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: translateX(100%);
}

.dialog {
  font-family: var(--accent-font-family), sans-serif;
  color: var(--accent-color);
  border: 2px solid currentColor;
  background-color: var(--bgcolor);
  padding-block: 30px;
  padding-inline: clamp(1.875rem, 3.221rem + -3.077vw, 2.5rem);
  max-width: 353px;
  row-gap: 30px;
  flex-direction: column;
}

dialog::backdrop {
  background-color: var(--background-color-backdrop);
  opacity: 0.75;
}

.dialog[open] {
  display: flex;
}

.dialog__content {
  display: grid;
  grid-template-columns: 39px 234px;
  gap: 20px;
  align-items: center;
}

.dialog__icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.dialog__content-text {
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__form-button {
  padding-block: 6.5px;
  text-align: center;
  width: 100%;
  background-color: var(--bgcolor);
}

.floopy-dialog {
  width: 39px;
  height: 39px;
}

@media (max-width: 1439px) {
  .header {
    padding-inline: 0;
    padding-block-start: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  }

  .card-image {
    max-height: clamp(23.438rem, 16.373rem + 30.141vw, 43.5rem);
  }

  .card-text {
    top: 60px;
    right: clamp(0.813rem, 0.548rem + 1.127vw, 1.563rem);
  }

  .filter-contrast .card-text {
    top: clamp(5rem, 6.21rem + -5.164vw, 1.563rem);
    right: clamp(0.813rem, 0.548rem + 1.127vw, 1.563rem);
  }

  .footer {
    padding-inline: clamp(2.156rem, 0.11rem + 8.732vw, 7.969rem);
    padding-block-end: clamp(6.25rem, 6.14rem + 0.469vw, 6.563rem);
  }

  .button__save {
    flex-direction: column;
    row-gap: 8px;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  .dialog {
    width: 341px;
  }

  .dialog__content {
    grid-template-columns: 39px clamp(12.375rem, 11.583rem + 3.38vw, 14.625rem);
  }

  .dialog__content .floppy {
    width: 39px;
    height: 39px;
  }
}