/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --border-color: #00cc14;
  --accent-color: #00cc14;
  --bgcolor: #000;
  --fill-name: #00cc14;
  --font-weight: 785;
  --font-weight-text: 785;
  --font-weight-subtext: 465;
  --card-text-shadow: #000;
  --background-image: repeating-linear-gradient(
      to right,
      #000 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);
  --background-color-hover: #00cc14;
  --name: #00cc14;
  --contour-fill: #00cc14;
}

:root.theme-light {
  --border-color: #000;
  --accent-color: #000;
  --fill-name: #000;
  --bgcolor: #fff;
  --font-weight: 700;
  --font-weight-text: 700;
  --font-weight-subtext: 400;
  --card-text-shadow: #fff;
  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --background-color-hover: #fff;
  --name: #000;
  --contour-fill: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --border-color: #00cc14;
    --accent-color: #00cc14;
    --fill-name: #00cc14;
    --bgcolor: #000;
    --font-weight: 785;
    --font-weight-text: 785;
    --font-weight-subtext: 465;
    --card-text-shadow: #000;
    --background-image: repeating-linear-gradient(
        to right,
        #000 0 2px,
        transparent 2px 4px
      ),
      repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
      linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);
    --background-color-hover: #00cc14;
    --name: #00cc14;
    --contour-fill: #00cc14;
  }
}
