/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-font-family: 'Inter-Variable';
  --accent-font-family: 'PressStart2P';
  --min-width: 375px;
  --max-width: 696px;
  --font-weight: 400;
  --font-weight-text: 700;
  --font-weight-subtext: 400;
  --border-color: #000;
  --accent-color:#000;
  --bgcolor: #fff;
  --bgcolor: #fff;
  --background-image:
  repeating-linear-gradient(
    to right,#d3d3d3 0 2px,transparent 2px 4px),
  repeating-linear-gradient(
    to bottom,#d3d3d3 0 2px,transparent 2px 4px),
  linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  --transition-duration: 0.3s;
  --transition-timing-function: ease;
  --hover-transition-duration: 0.5s;
  --name: #000;
  --like-heart: red;
  --background-color-backdrop: #000;
}